.benefits{
    &__section{
        width: 100%;
        background: rgb(246,246,246);
        background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 100%);
        padding: 9rem 0 1rem 0;
        margin-top: -8rem; 
        .section-title {
            margin-bottom: 35px;
        }
        .gradient-heading { 
            text-shadow: 1px 1px 2px rgb(245 245 245), 1px -2px 2px rgb(191 191 191 / 20%);
        }
        .section-title-right {
            margin-top: -30px;
            p {
                margin-bottom: 0;
            }
        }
    }
    &__block{
        width: 100%;
        .row{
            margin-left: -0.625rem;
            margin-right: -0.625rem;
            > div{
                padding: 0 0.625rem 1.25rem;
            }
        }
    }
    &__col-left{
        width: 66.66%;
    }
    &__col-right{
        width: 33.33%;
    }
    &__q_col{
        width: 50%;
    }
    &__box{
        background-color: $white;
        padding: 3.125rem 1.25rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 100%;
        font-size: 1.125rem;
        height: 100%;
        > img{
            height: 3.438rem;
            display: inline-block;
            margin: 0 0 1.875rem;
        }
        h4{
            font-size: 1.5rem;
            margin: 0 0 1.25rem;
        }
        p{
            margin: 0;
            letter-spacing: 0.01em;
        }
    }
    &__vert_box{
        width: 100%;
        background-color: $white;
        border-radius: 0.5rem;
        height: calc(100% - 1.25rem);
    }
    &__img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
        position: relative;
        h4{
            position: absolute;
            bottom: 0;
            left: 1rem;
            color: $white;
            margin: 0;
            font-size: 2.5rem;
            line-height: 0.7em;
        }
        .count{
            position: absolute;
            bottom: 0;
            right: 0.6rem;
            font-size: 6.25rem;
            color: rgba($white, 0.55);
            display: inline-flex;
            line-height: 0.7em;
            font-weight: 700;
        }
    }
    &__content{
        width: 100%;
        font-family: $Palatino_Regular;
        font-size: 1.47rem;
        padding: 2.625rem 1.6rem;
        letter-spacing: -0.05em;
        font-style: italic;
        line-height: 1.35em;
        p{
            margin: 0 0 1.125rem;
        }
        label{
            color: $silver;
            font-size: 1.125rem;
            font-family: $default-font;
            font-style: normal;
            letter-spacing: -0.02em;
        }
    }
}