#page {
    width: 100%;
    position: relative;
    background-color: $white;
    z-index: 1;
}

footer {
    color: $white;
    letter-spacing: 0.5px; 
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer-slider {
        background-color: $black;
        padding: 1.75rem 0;
        color: $white;
        .swiper-wrapper{
            transition-timing-function: linear !important;
        }
    }
    .footer-marquee {
        width: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 1.87rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            position: relative;
            overflow: hidden;
            padding: 0 1.56rem; 
            font-weight: 600;
            i {
                font-weight: 200;
            }
        } 
    }
    .footer-top {
        background-image: url(../images/footer-nine.svg);
        background-position: center right;
        background-repeat: no-repeat;
        background-color: #080A0F;
        position: relative;
        padding: 6.25rem 0 84px 0;
        &:before {
            content: "";
            width: 24.37rem;
            height: 24.37rem; 
            background-image: url(../images/footer-bg.png);
            background-position: center right;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .footer-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 1.43rem;
        .footer-logo { 
            width: 29.93rem;
        }
        .line { 
            width: 89%;
            height: 1px;
            background-color: $pink;
            margin-bottom: -0.18rem;
        }
        .footer-social {
            width: 16.75rem;
            text-align: right;
            margin-top: -2.06rem;
            label {
                color: $white;
                font-size: 1rem;
                font-weight: 600;
                font-style: italic;
                text-align: right;
                margin-bottom: 0.625rem;
                display: inline-block;
            }
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: end;
                li {
                    list-style-type: none;
                    padding: 0 0.75rem;
                    img { 
                        height: 1.68rem;
                        max-width: 1.625rem;
                        transition: 0.3s all;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        &:hover {
                            img {
                                -webkit-filter: brightness(0) invert(1);
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
            
        }
    }
    .footer-contact-info {
        padding-top: 2.5rem;
        font-weight: 300;
        position: relative;
        .row {
            max-width: 38.87rem;
        }
        h6 {
            font-size: 1.12rem;
            color: $white;
            font-weight: 600;
            letter-spacing: 0; 
            margin: 1.25rem 0 1rem 0; 
        }
        .footer-info {
            background-repeat: no-repeat;
            background-position: left top 0.188rem;
            background-size: 1.31rem;
            max-width: 15rem;
            a {
                color: $white;
                padding-left: 1.87rem;
                font-weight: 300;
                display: inline-block;
                &:hover {
                    color: $pink;
                }
            }
            &.address {
                background-image: url(../images/address.svg);
            }
            &.call {
                background-image: url(../images/call.svg);
            }
            &.email {
                background-image: url(../images/email.svg);
            }
        }
        .footer-menu {
            padding-top: 0.75rem;
            padding-right: 1rem;
            ul {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 50%;
                    font-size: 1rem;
                    list-style-type: none;
                    padding-bottom: 0.43rem;
                    a {
                        color: $white;
                        &:hover {
                            color: $pink;
                        }
                    }
                }
            }
        }
    }
    .footer-copyright {
        background-color: #000;
        .footer-c-left {
            font-weight: 300;
            font-style: italic;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            padding: 0 0.625rem;
            letter-spacing: 0;
            span {
                margin: 0 0.625rem;
            }
            .bbb-logo {
                margin-right: 2.18rem;
                width: 5rem;
            }
        }
        .footer-c-right {
            text-align: right;
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: end;
                li {
                    list-style-type: none;
                    padding: 0 0.93rem;
                    a {
                        color: $white;
                        line-height: 3.18rem;
                        padding: 0 0.313rem;
                        font-weight: 500;
                        font-size: 0.875rem;
                        &:hover {
                            color: $pink;
                        }
                    }
                    &.signin-menu {
                        padding: 0;  
                        margin-left: 0.625rem;
                        a {
                            background: url(../images/sign-in.svg) center left 0.625rem no-repeat;
                            background-color: $white;
                            color: $pink;
                            padding: 0 1.31rem 0 3rem;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}