header {
    position: absolute;
    padding: 13px 0;
    width: 100%;
    z-index: 1;
    .head-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .head-left {
            display: flex;
            align-items: center;
        }
    }
    .local-grant {
        font-size: 14px;
        position: relative;
        padding-left: 20px;
        margin-left: 20px;
        &:before {
            width: 1px;
            height: 100%;
            position: absolute;
            left: 0;
            content: "";
            background-color: $white;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        a {
            border-bottom: 1px solid $pink;
            display: inline-block;
            position: relative;
            padding: 2px 20px 3px 19px;
            font-weight: 600;
            color: $white;
            line-height: normal;
            min-width: 182px;
            &:before {
                background: url(../images/seach-icon.svg) center center no-repeat;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                content: "";
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &:after {
                background: url(../images/right-arrow.svg) center center no-repeat;
                width: 15px;
                height: 15px;
                position: absolute;
                right: 0;
                content: "";
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    .main-navigation {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            list-style-type: none;
            li {
                padding: 0 17px;
                list-style-type: none;

                a {
                    color: $white;
                    font-weight: 300;
                    font-size: 14px;
                    position: relative;
                    padding-bottom: 4px;
                    &:hover {
                        color: $white;
                        
                        &:after {
                            width: 100%;
                        }
                    }
                    &:after {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: 0 auto;
                        background-color: $pink;
                        width: 0;
                        height: 1px;
                        position: absolute;
                        content: "";
                        transition: 0.3s all;
                    }
                }
            }
        }
    }
}