* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-optical-sizing: auto;
}
html {
    font-size: 16px;
    @include breakpoint(md) {
        font-size: 13px; 
    }
    @include breakpoint(md) {
        font-size: 16px;
    }
}
body {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.5;
    font-family:$default-font;
    color: $black;
}
body::-webkit-scrollbar { 
    width:8px;
    background:transparent
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 0.375rem rgba(0,0,0,0.3);
    background-color:rgba(0,0,0,0.1)
}
body::-webkit-scrollbar-thumb { 
    outline:0px solid slategrey;
    background-color:$pink;
    border-radius:8px
}
a {
    color: $darkpink;
    text-decoration: none;
    transition: 0.3s all;
}
img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 0;
    outline: none;
    height: auto;
}
.link-btn {
    font-size: 0.875rem;
    font-weight: 700;
    padding-right: 1.5rem;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 0.625rem;
        right: 0;
        bottom: 0;
        margin: auto;
        top: 0;
        background: url(../images/pink-right-arrow.svg) center center no-repeat;
        background-size: 0.875rem;
    }
    &:hover {
        color: $pink;
    }
    &.white-link-btn {
        color: $white;
        &:after {
            background: url(../images/white-right-arrow.svg) center center no-repeat;
        } 
    }
}

figcaption {
    font-size: 0.875rem;
    font-style: italic;
    margin-top: 0.938rem;
    letter-spacing: 0;
    color: $darkpink;
    @include breakpoint(md) {
        margin-top: 0.5rem;
    }
}

%btn , input[type="submit"]{
    text-decoration: none;
    border: 0;
    text-align: center;
    font-size: 1.12rem;
    border-radius: 0.313rem;
    color: $white;
    transition: 0.3s all;
    background-color: $black;
    min-width: 17rem;
    padding: 0.9rem 1.7rem;
    &:hover {
        background-color: $pink;
    }
    
    &.pink-btn {
        background: rgb(204,11,75);
        background: linear-gradient(270deg, rgba(204,11,75,1) 0%, rgba(246,6,86,1) 100%);
        color: $white !important;
        font-size: 0.875rem;
        font-family: $Palatino_Regular;
        border-radius: 0;
        font-weight: normal;
        text-transform: uppercase;
        &:hover {
            background: linear-gradient(270deg, rgba(204,11,75,1) 100%, rgba(246,6,86,1) 0%);
        }
    }
}
.btn{
    @extend %btn;
}
.ghost-btn {
    border: 1px solid $pink;
    display: inline-block;
    text-align: center;
    color: $pink; 
    font-size: 0.875rem;
    font-family: $Palatino_Regular;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    border-radius: 0;
    &.white-ghost {
        border: 1px solid $white;
        color: $white;
        &:hover {
            background-color: $white;
            color: $pink;
        }
    }
    &.black-ghost {
        border: 1px solid $black;
        color: $black;
        background: transparent;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}

strong {
    font-weight: 800;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 1.56rem 0;
    line-height: 1.2;
    font-weight: 600;
    font-family:$default-font;
    letter-spacing: -0.02em;
    strong {
        font-weight: 800;
        color: $pink;
        font-style: italic;
    }
}

h1 {
    font-size: 4.37rem;
    line-height: 5rem;
}
h2 {
    font-size: 3.12rem;
    line-height: 1.3;
    font-weight: 300;
}
h3 {
    font-size: 2.5rem;
    font-weight: 600;
}
h4 {
    font-size: 1.87rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
p {
    margin: 0 0 1.75rem;
    @include breakpoint(md) {
        margin: 0 0 1.5rem;
    }
}
sup {
    font-size: 0.6em;
}

.overlay-link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.alignleft {
    float: left;
    margin: 0 1.25rem 1.25rem 0;
}
.alignright {
    float: right;
    margin: 0 0 1.25rem 1.25rem;
}
.alignnone {
    float: none;
    margin: 0 0 0.93rem 0px;
    display: block;
}
.aligncenter {
    float: none;
    margin: 0 auto 0.93rem auto;
    display: list-item;
}
.main-body {
    overflow: hidden;
    position: relative;
    clear: both;
    top: 0;
}
sup {
    font-size: 0.6em;
}
table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0.93rem;
    border: 1px solid $black;
    td {
        padding: 0.5em 1em;
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        border-left: 1px solid $black;
        border-bottom: 1px solid $black;
        &:first-child {
            border-left-width: 0;
        }
    }
    th {
        padding: 0.5em 1em;
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        border-left: 1px solid $black;
        border-bottom: 1px solid $black;
        &:first-child {
            border-left-width: 0;
        }
    }
}
thead {
    text-align: left;
    vertical-align: bottom;
    background-color: $black;
    color: $black;
}
ul {
    margin: 0px;
    padding: 0px 0 0.93rem 1.87rem;
    li {
        margin: 0px;
        padding: 0 0 0.625rem;
        list-style-type: disc;
        list-style-position: outside;
    }
}
ol {
    margin: 0px;
    padding: 0px 0 0.56rem 2rem;
    li {
        margin: 0px;
        padding: 0 0 0.625rem;
        list-style-position: outside;
        list-style: decimal;
    }
}
input {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none; 
    &:focus {
        outline: none;
    }
}
textarea{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none; 
    &:focus {
        outline: none;
    }
}
.container, .alignwide {
    width: 76.25rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem; 
    
    @include breakpoint(md) {
        width: 51.25rem;
    }
    @include breakpoint(sm) {
       width: 39rem;
    }
    @include breakpoint(md) {
        
    }
    @include breakpoint(xs) {
        
    }
}
.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Gutenberg Style */

.wp-block-button__link {
    font-family: $Palatino_Regular;
    font-size: 0.875rem;
    border-width: 1px !important;
    padding: 0.625rem 3rem !important;
    letter-spacing: 0.10em; 
    &:hover {
        background-color: $black;
        color: $white;
    }
}
.wp-block-media-text {
    grid-template-columns: 58% 1fr;
    &__media {
        img {
            border-radius: 0.5rem;
        }
    }
} 
.wp-block-media-text.has-media-on-the-right {
    grid-template-columns: 1fr 60%;
}
.wp-block-media-text.has-media-on-the-right>.wp-block-media-text__content {
    padding-left: 0;
    padding-right: 15%;
}
.wp-block-media-text>.wp-block-media-text__content {
    padding-left: 5.93rem; 
}
.text-right {
    text-align: right;
}
.got-grant-image {
    img {
        transform: scale(0.2) translate(0, 31.25rem);
        transition: 0.8s all; 
        opacity: 0;
    }
    .aos-animate {
        img {
            transform: scale(1) translate(0, 0);
            opacity: 1;
        }
    }
}

.section-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.81rem;
    &-full{
        width: 100%;
    }
    &-left{
        width: 66.66%;
        padding: 0 2rem 0 0;
        h3{
            font-weight: 300;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    } 
    &-right{
        width: 33.33%;
        padding: 0 1rem;
        color: $silver;
        font-size: 18px;
        letter-spacing: 0.01em;
    }
}