.service-cat-content {
    padding: 3.43rem 0; 
    .cat-content-shorter {
        padding: 4.37rem 3.75rem 6.62rem 7.56rem;
        display: flex;
        justify-content: space-between;
        background: url(../images/large-line.svg) bottom center no-repeat;
        align-items: center;

        .cat-text {
            width: 49%;
            font-size: 1.12rem;
            letter-spacing: -0.02em;
            margin-top: 1.25rem;
            h2 {
                font-size: 2.5rem;
                line-height: 1.2;
                margin-bottom: 1.25rem;
                span {
                    color: $pink;
                }
            }
        }
        .cat-image {
            width: 40%;
            img {
                border-radius: 0.5rem;
            }
        }
    }
}
.our-services {
    padding: 0;
    
    &__box {
        padding: 2.18rem;
        max-width: 61.25rem;
        margin: 0 auto;
        background-color: #FBFBFB;
        box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.10);
        border: 1px solid $white;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
    }
    &__image {
        max-width: 23.75rem;
        width: 100%;
    }
    &__text {
        width: calc(100% - 23.75rem);
        padding-left: 50px;

        label {
            font-size: 0.875rem;
            font-style: italic;
            font-family: $Palatino_Regular;
        }
        h3 {
            font-size: 2.5rem;
            letter-spacing: -0.02em;
            font-weight: 300;
            margin: 0 0 1.25rem 0;
        }
        h4 {
            font-family: $Palatino_Regular;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0 0 0.93rem 0;
        }
    }
    &__btn {
        font-size: 1.12rem;
        position: relative;
        padding-right: 2.81rem;
        padding-bottom: 0.313rem;
        &:before {
            content: "";
            width: calc(100% - 2.81rem);
            height: 1px;
            background-color: $pink;
            position: absolute;
            bottom: 0;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            margin: 0 auto;
            margin: auto;
            background: url(../images/arrow.svg) center center no-repeat;
            transition: 0.3s all;
            width: 2.06rem;
            height: 2.06rem;
        }
        &:hover {
            color: $pink;
            &:after {
                background-image: url(../images/hover-arrow.svg) ;
            }
        }
    }
}